<%- include("../partials/_header") %>

<div class="container mt-5">
  <div class="d-flex flex-row-reverse mb-3">
    <a href="/evento/create" class="btn btn-info">Novo</a>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Publico Alvo</th>
            <th scope="col">Edição</th>
            <th scope="col">Data</th>
            <th scope="col">Tema</th>
            <th scope="col">Descrição</th>
            <th scope="col">Atividades</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% if (eventos) { %>
            <% for(var i = 0; i < eventos.length; i++) { %>
              <tr>
                <td><%= eventos[i].id %></td>
                <td><%= eventos[i].nome %></td>
                <td><%= eventos[i].publico_alvo %></td>
                <td><%= eventos[i].numEdicao %></td>
                <td><%= eventos[i].data %></td>
                <td><%= eventos[i].tema %></td>
                <td><%= eventos[i].descricao %></td>
                <td><%= eventos[i].atividades.length %></td>
                <td>
                  <a href="/evento/update/<%= eventos[i].id %>" class="btn btn-info">Edit</a>
                  <a href="/evento/delete/<%= eventos[i].id %>" method="POST" class="btn btn-danger">Delete</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
